[Unit]
Description=Take samples from sensors schedule

[Service]
Type=simple
Restart=always
WorkingDirectory=/home/odroid/RPi2/
ExecStart=/usr/bin/python /home/odroid/RPi2/HydroSensor.py
StandardOutput=null

[Install]
WantedBy=multi-user.target