[Unit]
Description=Turn water pump on/off schedule form config file.

[Service]
Type=simple
Restart=always
WorkingDirectory=/home/odroid/RPi2/
ExecStart=/usr/bin/python /home/odroid/RPi2/HydroWater.py
StandardOutput=null

[Install]
WantedBy=multi-user.target